# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
/functions/node_modules/
/functions/.env.dev
/functions/.env.local

/.idea/*

firestore-debug.log
ui-debug.log